body {
    background: #000000;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#work {
    position: fixed;
      top: 23px;
      left: 50px;
      color: white;
      background: none;
      font-family: 'Darker Grotesque', sans-serif;
        font-weight: 400;
        font-size: 19px;
        border-radius: 1px;
        border-color: transparent;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        cursor: pointer;
        letter-spacing: 1px;
}

#aboutNo {
 position: fixed;
  top: 23px;
  right: 50px;
  color: white;
  opacity: 0.5;
  background: none;
  font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 19px;
    border-radius: 1px;
    border-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: default;
    letter-spacing: 1px;
}

h6 {
    margin-left: 48%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 20px;
    color: #505050;
}

#year {
    font-size: 20px;
    color: #989898;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h4 {
     margin-bottom: 350px;
}




h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    color: white;
    border: 2px solid black;
}

h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: white;
    margin-left: 48%;
    line-height: 28px;
    padding: 0:
    width: 50%;
    style="text-decoration:none;"
    style="color:white"
}

i {
    -webkit-text-fill-color: black;
    font-size: 24px;
    letter-spacing: 2rem;
}

span {
    position: relative;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: 6em;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 0 10px;
    display:inline-block;
    line-height: 0.7em;
    margin-left: 48%;
    transition: color 0.5s;


}

span:hover {

  /* background-color: mediumpurple; */
    color:transparent;
  -webkit-text-stroke:1px white;


}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 44px;
    color: white;
    margin-left: 48%;
    line-height: 1em;
    margin-right: 10%;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    font-size:27px;
    color: white;
    margin-left: 48%;
    margin-right: 10%;
    line-height: 1.2em;
    letter-spacing: 0.05rem;
}

img {
    margin-top: 80px;
    margin-bottom: 150px;
}

a {
    text-decoration:none;
    color: white;
}